@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Lumanosimo&family=Merienda:wght@300..900&family=Nothing+You+Could+Do&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sorts+Mill+Goudy:ital@0;1&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  /* height: 100%; */
  /* overflow: hidden; */
}
body {
  font-family: 'Sorts+Mill+Goudy';
  background-color: #ebe6e6;
  padding: 0;
  position: relative;
}
.hamburger-btn {
  background: none;
  border: none;
  cursor: pointer;
  text-align: start;
  width: min-content;
  padding: 0.4em 0.4em;
  position: fixed;
  top: 15px;
  z-index: 1100;
  left: 20px;
  transition: all 0.3s ease;

  .sidebar-left {
    width: 25px;
    aspect-ratio: 1;
    background-image: url('./images/sidebar-left-svgrepo-com.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.hamburger-btn:hover {
  background-color: rgba(51, 51, 51, 0.1);
  backdrop-filter: blur(3rem);
  border-radius: 4px;
}
.container {
  display: flex;
  gap: 10px;
  height: 100vh;
  position: relative;
}

#sidebar-container {
  padding-top: 70px;
  min-height: 100vh;
  background-color: rgba(51, 51, 51, 0.1);
  backdrop-filter: blur(2rem);
  width: 250px;
  transition: all 0.2s ease;
  flex-shrink: 0;
  z-index: 1000;
  position: relative;
}
#sidebar-container.close {
  padding: 0px;
  width: 0px;
  overflow: hidden;
  text-wrap: nowrap;
}
#sidebar-container.hidden-children > * {
  display: none;
}

#side-bar {
  box-sizing: border-box;
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 20px 1.2em 1em 1em;
  align-self: self-start;
  font-size: 0.95rem;
  overflow-y: auto;
  scrollbar-width: none;
}

#side-bar::-webkit-scrollbar {
  display: none;
}

.test:first-of-type {
  margin-top: 0;
}
.test > div:first-of-type {
  margin-top: 15px;
}
.test h4 {
  font-size: 1.1rem;
}
.test > div {
  margin-top: 15px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin: 0 0 5px 0;
  padding: 0.4em 0.8em 0.4em 0.5em;
  transition: all 0.3s ease;
}
.pop-up-btn {
  display: none;
}
.pop-up {
  position: absolute;
  background-color: #666;
  padding: 0;
  border-radius: 8px;
  z-index: 2000;
  display: none;
}
.pop-up > * {
  padding: 8px 30px;
  cursor: pointer;
  text-align: center;
}
.pop-up > :hover {
  background-color: #999;
}
.pop-up > :first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.pop-up > :last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.test > div:focus,
.test > div:hover {
  background-color: #777;
  border-radius: 10px;
}
.projects.test > {
  position: relative;
}
.projects.test > :focus,
.projects.test > :hover {
  .pop-up-btn {
    display: block;
    height: 25px;
  }

  .pop-up-btn img {
    vertical-align: center;
    margin-left: auto;
  }
  .number {
    display: none;
  }
}
.test > div > p:first-of-type {
  flex-grow: 1;
}
.number {
  font-size: 1.1rem;
}
div.add-project {
  font-size: 1rem;
  font-family: 'lumanosimo';
  padding: 0.2em 0.5em;
  height: 46px;
}
.add-project span {
  font-size: 2rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
  transform: translateY(-100%);
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  overflow-y: auto;
  align-items: center;
}

.welcome {
  margin-left: auto;
  font-family: 'lumanosimo';
  font-size: 1.2rem;
  padding-right: 10px;
}

#modifyProjectDialog {
  margin: auto;
  padding: 1.5em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 10px;
  height: 200px;
  width: 310px;
  background-color: #333;
  color: #eee;
}
#modifyProjectForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
#modifyProjectForm h2 {
  font-size: 1.4rem;
  text-align: center;
  font-family: 'poppins';
}

.modifyProjectMenu {
  display: flex;
  gap: 10px;
  width: 100%;
}
.modifyProjectMenu > * {
  padding: 8px 10px;
  flex: 1;
  border-radius: 8px;
  border: none;
  transition: background-color 0.3s ease;
}
.modifyProjectMenu > :first-child {
  background-color: #dc3545;
}
.modifyProjectMenu > :last-child {
  background-color: #28a745;
}
.modifyProjectMenu > :first-child:hover,
.modifyProjectMenu > :first-child:focus {
  background-color: #c82333;
}
.modifyProjectMenu > :last-child:hover,
.modifyProjectMenu > :last-child:focus {
  background-color: #218838;
}

.add-task-btn {
  border: none;
  font-size: 1rem;
  box-sizing: border-box;
  max-width: 350px;
  width: 100%;
  padding: 10px 15px;
  border-radius: 12px;
  background-color: #222;
  font-family: 'poppins';
  color: #fff;
  transition: background-color 0.3s ease;
  margin-top: auto;
}
.add-task-btn:hover {
  background-color: #000;
}
.hamburger-btn .hamburger-svg,
.hamburger-btn .cancel-svg {
  display: none;
}

.hamburger-btn .cancel-svg {
  width: 25px;
  aspect-ratio: 1;
  background-image: url('./images/cancel-svgrepo-com.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hamburger-btn .hamburger-svg {
  width: 25px;
  aspect-ratio: 1;
  background-image: url('./images/hamburger-menu-svgrepo-com.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#modifyTodoDialog {
  margin: auto;
  padding: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 10px;
  height: 500px;
  width: 350px;
  background-color: #444;
  color: #fff;
}
#modifyTodoForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
#modifyTodoForm h2 {
  font-size: 1.4rem;
  text-align: center;
  color: #bbb;
}
menu.modifyTodoMenu {
  display: flex;
  gap: 10px;
  width: 100%;
}
menu.modifyTodoMenu > * {
  padding: 10px 10px;
  flex: 1;
  border-radius: 8px;
  border: none;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  color: #eee;
  font-size: 0.9rem;
}

.modifyTodoMenu > :first-child {
  background-color: #dc3545;
}
.modifyTodoMenu > :last-child {
  background-color: #28a745;
}
.modifyTodoMenu > :first-child:hover,
.modifyTodoMenu > :first-child:focus {
  background-color: #c82333;
}
.modifyTodoMenu > :last-child:hover,
.modifyTodoMenu > :last-child:focus {
  background-color: #218838;
}

label {
  margin: 1rem 0 0.5rem;
  width: 100%;
  color: #bbb;
  font-size: 1rem;
  font-family: 'lumanosimo';
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.modifyLabel:last-of-type {
  display: flex;
  flex-direction: row;
}
.modifyLabel:last-of-type > * {
  flex: 1;
  border: none;
  outline: none;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.modifyInput {
  border-radius: 6px;
  color: #bbb;
  border: none;
  background-color: #444;
  padding: 10px 10px 10px 20px;
  width: 100%;
  font-size: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.modifyInput:focus {
  background-color: #333;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  outline: none;
  color: #fff;
}
textarea.modifyInput {
  resize: none;
}
.modifySelect {
  background-color: #444;

  color: #bbb;
}
.modifySelect:focus {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  #sidebar-container {
    position: fixed;
    left: 0;
    top: 0;
    max-width: 250px;
  }
  #side-bar {
    max-width: 250px;
    width: 100%;
  }

  .overlay.active {
    transform: translateY(0);
  }
  .add-task-btn {
    margin-bottom: 50px;
  }
  .hamburger-btn .sidebar-left {
    display: none;
  }
  #hamburger .cancel-svg {
    display: block;
  }

  #hamburger.open {
    .cancel-svg {
      display: block;
    }
    .hamburger-svg {
      display: none;
    }
  }

  #hamburger.close {
    .hamburger-svg {
      display: block;
    }
    .cancel-svg {
      display: none;
    }
  }
}
